
<div class="form-container">

    <%= form_with model: @article do |f| %>


        <div class="title mb-3 pb-3">
          <div><%= f.label :title, "Title", class:"pb-3"%></div>
          <div><%= f.text_field :title, class:"form-control w-250 " %></div>
        </div>

        <div class="content mb-3 pb-3">

          <div><%= f.label :content, class:"pb-3"%></div>

            <div><%= f.text_area :content, class:"form-control w-350"%></div>
        </div>

        <div class="btn-create">
          <%= f.submit "Create Article", class: "btn btn-flat"%>
        </div>
          <% end %>
        <div class="link mt-3 text-decoration-none">
          <%= link_to "Back", articles_path, class:"text-decoration-none"%>
        </div>

</div>
